
* {
    transition: all 0.3s ease-in-out;
}
body, .btn  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2rem;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}
form, fieldset, .wrapper {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    /* min-height: var(--tg-viewport-stable-height); */
    gap: 30px;
}
.wrapper {
    max-width: 390px;
    border: none;
}
.tc_form {
    display: flex;
    margin: 0 auto;
}
.tc-select_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
}
/* BUTTON */
.btn_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.btn, input[type='radio'] + label {
    padding: 10px 25px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.bt_next {
    align-self: flex-end;
    min-width: calc(50% - 10px);
    margin-top: auto;
}
.requestedSum_btn {
    width: 100%;
}
/* BUTTON */
/* INPUT */
input[type='text'],input[type='tel'],input[type='email'], input[type="date"] {
    outline: none;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    width: -webkit-fill-available;
    &:focus{
        border: 1px solid cornflowerblue;
    }
}
::-webkit-input-placeholder {
    opacity: 0.4;
    font-style: italic;
}
input[type='radio'] {
    display: none;
}
input[type='radio']:checked + label {
    background: orangered;
}
textarea {
    resize: none;
    padding: 5px;
    width: -webkit-fill-available;
}
#invoice_number {
    margin-top: 15px;
}
.invoice > label {
    margin-bottom: 10px;
}
.claimsObject_list {
    padding: 10px;
    border-radius: 5px;
    width: -webkit-fill-available;
}
.individual label {
    text-align: left;
}
/* INPUT */

.invoice_link {
    cursor: pointer;
    color: var(--tg-theme-link-color);
    margin: 0;
    margin-top: 5px;
    text-align: left;
}
.claims-reason_description {
    opacity: .7;
}