
* {
    transition: all 0.3s ease-in-out;
}
body, .btn  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2rem;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}
form, fieldset, .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    gap: 30px;
}
.wrapper {
    max-width: 390px;
    margin: 0 auto;
    border: none;
}
.tc-select_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 15px;
}
.tc-select_list > input[type='radio'] + label {
    min-width: auto;
}
/* BUTTON */
.btn_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
}
.btn, input[type='radio'] + label {
    padding: 10px 25px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    /* border: 1px solid black; */
}
.btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.bt_next {
    align-self: flex-end;
    min-width: calc(50% - 10px);
    margin-top: auto;
}
.btn_wide {
    grid-column: span 2;
}
.btn_hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.requestedSum_btn {
    width: 100%;
}
.btn:disabled {
    background-color: rgb(139, 139, 139);
    color: #ffffff;
    cursor: not-allowed;
}
/* BUTTON */
/* INPUT */
input[type='text'],input[type='tel'],input[type='email'], input[type="date"] {
    outline: none;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    min-width: 250px;
    display: block;
    &:focus{
        border: 1px solid cornflowerblue;
    }
}
::-webkit-input-placeholder {
    opacity: 0.4;
    font-style: italic;
}
input[type='radio'] {
    display: none;
}
input[type='radio']:checked + label {
    background: orangered;
}
input[type='radio'] + label {
    min-width: 200px;
}
textarea {
    resize: none;
    padding: 5px;
    width: -webkit-fill-available;
}
#invoice_number {
    margin-top: 15px;
}
.invoice > label {
    margin-bottom: 10px;
}
.claimsObject_list {
    padding: 10px;
    border-radius: 5px;
    width: -webkit-fill-available;
}
.individual label {
    text-align: left;
}
select:required:invalid {
    color: gray;
  }
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}
/* INPUT */
.invoice_link {
    cursor: pointer;
    color: var(--tg-theme-link-color);
    margin: 0;
    padding: 10px 0 10px 10px;
    text-align: left;
    font-size: 0.75rem;
}
.claims-object_description {
    opacity: .7;
    min-height: 100px;
}
/* STATUS */
.is-visible {
    display: flex;
    opacity: 1;
    visibility: visible;
}
.is-hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
/* STATUS */